.sign-in {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .sign-in {
    display: block;
    width: auto;
  }
}